#matchModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="matchLabel", aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                //- button.close(type="button", data-dismiss="modal", aria-hidden="true") ×     
                h4#matchLabel.modal-title You've got a match!
            .modal-body
                .row.text-center
                    img#matchImg(src="#{photo}")
                    h3 You've been matched with #{name}!
                form#matchForm.form-horizontal(role="form")
                    .form-group
                        label.col-sm-2.control-label(for="location") Location
                        .col-sm-10
                            input#location.form-control(type="string", name="location", placeholder="Type in your location to meet up with your fellow hugger..." required=true)
                    .form-signup    
                        label.col-sm-2.control-label(for="location") Phone Number
                        .col-sm-10
                            if (phoneNumber)
                                input#location.form-control(type="string", name="phoneNumber", value=phoneNumber required=true)
                            else
                                input#location.form-control(type="string", name="phoneNumber", placeholder="Type in your phone number to get in contact with your fellow hugger..." required=true)

                        

            .modal-footer
                button#cancelMatch.btn.btn-danger.btn-large(type="submit", data-dismiss="modal") Cancel Request
                button#accept.btn.btn-yhug.btn-large(type="submit", data-dismiss="modal") Accept